<button class="btn btn-success float-left" routerLink="/allRecords">Back</button>
<div class="col-md-4 offset-md-4 mt-5">
    <form #form="ngForm">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h5>User Details</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" name="firstname" id="firstname" [readonly]="isReadOnly"
                        #firstname="ngModel" [ngModel]='user.firstname'>
                </div>
                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input class="form-control" type="text" name="middlename" id="middlename" [readonly]="isReadOnly"
                        #middlename="ngModel" [ngModel]='user.middlename'>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" name="lastname" id="lastname" [readonly]="isReadOnly"
                        #lastname="ngModel" [ngModel]='user.lastname'>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" [readonly]="isReadOnly"
                        #email="ngModel" [ngModel]='user.email'>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="text" name="password" id="password" [readonly]="isReadOnly"
                        #password="ngModel" [ngModel]='user.password'>
                </div>
                <div class="form-group">
                    <label for="number">Number</label>
                    <input class="form-control" type="text" name="number" id="number" [readonly]="isReadOnly"
                        #number="ngModel" [ngModel]='user.number'>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" name="address" id="address" [readonly]="isReadOnly"
                        #address="ngModel" [ngModel]='user.address'>
                </div>
            </div>
        </div>
    </form>
</div>